*{
    box-sizing: border-box;

}
    *{
        margin: 0%;
        padding:0%;
    }

.container2{
    width: 1240px;
    margin:auto;
}
.container{
    position: relative;
    text-align: center;
}
.container img{
    width: 1120px ;
    height: 620px;
}
.left1{
    position: absolute;
    top: 50px;
    left: 250px;
    font-weight: 700;
    color: blue;
}
  .right1 button{
    position: absolute;
    top: 50px;
    right: 200px;
    font-weight: 400;
    color: white;
    background-color: blue;
    border-radius: 8px;
    padding: 8px 22px;
  }
  .left2{
    position:absolute;
    bottom: 300px;
    left: 150px;
    font-weight: 900;
    font-size: 70px;
    width: 900px;
    height: 150px;
    
  }
  .center{
    position: absolute;
    bottom: 250px;
    left: 550px;
  }
    
    
    

